body {
  margin: 0;
  padding: 0;
  background: #363636;
  color: #e60775;
}

h1 {
  font: 50px Arial, Verdana, Sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%;
}

.card {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  height: 400px;
  width: 400px;
  box-shadow: 2px 2px 15px #000;
  margin: 10px;
}

.pic {
  margin: 10px auto;
  width: 70%;
}

.pic > img {
  position: relative;
  top: 50%;
  left: 17%;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  margin: 20px auto;
}

.name {
  font: 42px Arial, Verdana, Sans-serif;
  margin: 10px auto;
  width: 80%;
}
